@import './colors';
@import './elevation';
@import '../layout/layout--mixins';


$primary: $purple-700;
$disabled: $purple-100;



.button {
    margin-top: 10px;
    &--primary {
        @extend .button;
        background-color: $purple-100;
        color: $purple-900;
        box-shadow: $elevation2;
        transition: box-shadow 0.3s;
        @include size(75px, auto);
        &:hover {
            box-shadow: $elevation4;
            cursor: pointer;
        }
    }
}
