$yellow-100: #fff6d6;
$yellow-200: #fff4cc;
$yellow-300: #fff2c2;
$yellow-400: #fff0b8;
$yellow-500: #ffedad;
$yellow-600 :#ffeba3;
$yellow-700: #ffe999;


$purple-100: #bdb9e8;
$purple-200: #aca7e2;
$purple-300: #9b95dc;
$purple-400: #8b84d6;
$purple-500: #7a72d0;
$purple-600 :#6961ca;
$purple-700: #594fc5;


$green-100: #d0f5e7;
$green-200: #c4f2e1;
$green-300: #b9f0db;
$green-400: #adedd6;
$green-500: #a1ead0;
$green-600 :#96e8ca;
$green-700: #8ae5c4;


$red-100: #fec5d4;
$red-200: #feb6c9;
$red-300: #fea8bf;
$red-400: #fd99b4;
$red-500: #fd8aa9;
$red-600: #fd7c9e;
$red-700: #fd6d93;

$neutral-black: #3D3D3D;
$neutral-white: #f7f7f7;