@import '_base-mixins';


* {
    margin: 0;
    box-sizing: border-box;
}




h1 {
    @include fontsize(18px, 24px, 32px);
}
h2 {
    @include fontsize(15px, 21px, 29px);
}

h3 {
    @include fontsize(13px, 18px, 26px);
}
p {
    @include fontsize(9px, 14px, 17px);
}
li {
    list-style: none;
    @include fontsize(9px, 14px, 17px);
}

a {
    @include fontsize(9px, 14px, 17px);
    &:hover {
        text-decoration: none;
    }
}

label {
    @include fontsize(13px, 18px, 26px);
}

input {
    outline: none;
    border: none;
    border-radius: 2px;
    @include fontsize(9px, 14px, 17px);
    padding: 2px;
}

button {
    outline: none;
    border: none;
    padding: 4px;
    border-radius: 4px;
    @include fontsize(13px, 18px, 26px);
}